* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: #ecf0f3;
  font-family: sans-serif;
  outline: none;
}

.head {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  /* height: 40px; */
  align-items: flex-end;
  font-size: 26px;
  font-weight: 600;
  margin-top: 2%;
  margin-bottom: 3%;
}
.container {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}

.calculator {
  background-color: #ecf0f3;
  padding: 15px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  display: grid;
  grid-template-columns: repeat(4, 68px);
}

input {
  grid-column: span 4;
  height: 70px;
  width: 260px;
  background-color: #ecf0f3;
  border: none;
  box-shadow: inset -5px -5px 12px #ffffff,
    inset 5px 5px 12px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  color: rgba(70, 70, 74);
  font-size: 40px;
  text-align: right;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
}

button {
  height: 48px;
  width: 48px;
  background-color: #ecf0f3;
  box-shadow: -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 50%;
  margin: 8px;
  font-size: 16px;
}

.equal {
  width: 115px;
  border-radius: 40px;
  background-color: #ecf0f3;
  box-shadow: -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
}
